.web_colors {
  --body-bg: #002b36;
  --body-fg: #ffffff;
  
  --sidebar-bg: #073642;
  --sidebar-fg: #ffffff;
  --sidebar-bg-hover: #0f667e;
  --sidebar-fg-hover: #ffffff;
  --sidebar-header-bg: #073642;
  --sidebar-element-bg: #073642;
  --sidebar-separator: #094353;
  --sidebar-click-bg: #136075;
  --sidebar-active-bg: #0c5569;
  --sidebar-active-fg: #ffffff;

  --template-bg: #586e75;
  --template-fg: #fff;
  --template-bg-hover: #839496;
  --template-bg-active: #175b6e;
  --template-fg-active: #fff;
  --template-border: #073642;
}