.web_colors {
  --body-bg: #002b36;
  --body-fg: white;
  
  --sidebar-bg: #073642;
  --sidebar-header-bg: #073642;
  --sidebar-element-bg: #073642;

  --template-bg: #586e75;
  --template-bg-hover: #839496;
  --template-bg-active: #555;
  --template-border: #073642;
}